<article data-ng-hide="data==null">
    <header>
        <h1>
            <span data-ng-if="data.article.item_starred==true" class="fa fa-star star" title="去星" data-ng-click="markStarred(false)"></span><span data-ng-if="data.article.item_starred==false" class="fa fa-star-o star-o" title="加星" data-ng-click="markStarred(true)"></span>
            <span data-ng-if="data.article.item_title==''" data-ng-init="data.article.item_title='（无标题）'"></span>
            <span data-ng-if="data.article.item_read==false">（未读）</span><span data-ng-bind-html="data.article.item_title"></span>
        </h1>
        <p>
            <span data-ng-if="data.article.feed_alias!=''">
                <a href="/#/articles/fid/{{data.article.feed_id}}?page=1" data-ng-bind-html="data.article.feed_alias"></a>
            </span>
            <span data-ng-if="data.article.feed_alias==''">
                <a href="/#/articles/fid/{{data.article.feed_id}}?page=1" data-ng-bind-html="data.article.feed_name"></a>
            </span>

            <span data-ng-hide="data.article.item_author==''">by {{data.article.item_author}}</span>

            <span data-ng-if="data.article.item_pub_time.substr(0,3)!='000'">
                (<time datetime="{{data.article.item_pub_time}}" pubdate title="抓取时间：{{data.article.item_fetch_time | date:'yyyy-MM-dd HH:mm Z'}}">{{data.article.item_pub_time | date:"yyyy-MM-dd HH:mm Z"}}</time>)
            </span>
            <span data-ng-if="data.article.item_pub_time.substr(0,3)=='000'">
                (<time datetime="{{data.article.item_fetch_time}}" pubdate title="原文未提供发表时间，此为抓取时间">{{data.article.item_fetch_time | date:"yyyy-MM-dd HH:mm Z"}}</time>)
            </span>
        </p>
        <p>原文地址：<a href="{{data.article.item_url}}" rel="nofollow">{{data.article.item_url}}</a></p>
    </header>
    <div class="content" data-ng-bind-html="data.article.item_content"></div>
</article>

<section id="related_articles" data-ng-hide="data==null">
    <h1>其他文章</h1>

    <ul>
        <li data-ng-repeat="item in data.related">
            <span data-ng-if="item.item_title==''" data-ng-init="item.item_title='（无标题）'"></span>
            <a href="/#/article/{{item.item_id}}" data-ng-bind-html="item.item_title"></a>
            <span data-ng-if="route!='fid' && item.feed_alias!=''">
                （<a href="/#/articles/fid/{{item.item_fid}}?page=1" data-ng-bind-html="item.feed_alias"></a>）
            </span>
            <span data-ng-if="route!='fid' && item.feed_alias==''">
                （<a data-ng-if="item.feed_alias==''" href="/#/articles/fid/{{item.item_fid}}?page=1" data-ng-bind-html="item.feed_name"></a>）
            </span>
        </li>
    </ul>
</section>

<section>
    <p>
        <button data-ng-if="data.article.item_starred==true" data-ng-click="markStarred(false)">去星</button>
        <button data-ng-if="data.article.item_starred==false" data-ng-click="markStarred(true)">加星</button>
        <button data-ng-if="data.article.item_read==true" data-ng-click="markRead(false)">标为未读</button>
        <button data-ng-if="data.article.item_read==false" data-ng-click="markRead(true)">标为已读</button>
    </p>
</section>    
